.jumbotron {
    background-image: url("../Images/Background2.jpg");
    background-size: cover;
    color: #333;
  }
  
  .row {
      display: flex;
  }
  
  .v-center {
  align-items: center;
  }
  
  .split {
      justify-content: space-between;
  }
  
  .wrapper {
      margin-top: 20px; 
  
  }

  .fav {
    text-align: center;
    padding: 3%;
}

.favty {
    text-align: center;
    padding: 10%;
}

  .card-img-top {
      background-image: url("../Images/work1.jpg");
      background-size: cover;
      height:300px;
  }

  .footer {
    background: #333;
    padding: 30px;
    color:white;
    text-align:center;      
  }
  
  
  .footercontact {
    background: #333;
    padding: 30px;
    color:white;
    text-align:center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
      
      
  }

.meena {
    width:5%;
    margin: 1rem;
    
}




  @media (max-width: 1000px) {
    .mobilesmall {
        font-size: 48px;
      }

      .card {
        margin-bottom: 15%;
    }
  }